{% extends 'base.html' %}

{% block content %}
<h1>Список клиентов</h1>
<a href="{{ url_for('clients.add_client') }}">Добавить клиента</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Номер читательского билета</th>
            <th>Полное имя клиента</th>
            <th>Дата рождения</th>
            <th>Телефон</th>
            <th>Группа</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.client_id }}</td>
            <td>{{ client.library_card_number }}</td>
            <td>{{ client.client_full_name }}</td>
            <td>{{ client.date_of_birth }}</td>
            <td>{{ client.phone_number }}</td>
            <td>{{ client.group }}</td>
            <td>
                <a href="{{ url_for('clients.edit_client', client_id=client.client_id) }}">Редактировать</a>
                <form action="{{ url_for('clients.delete_client', client_id=client.client_id) }}" method="POST" style="display:inline;">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
