{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Редактировать Издательство</h2>
    <form action="{{ url_for('publishing_houses.update_publishing_house', house_id=house.publishing_house_id) }}"
          method="POST">
        <div class="form-group">
            <label for="publishing_house_name">Название издательства:</label>
            <input type="text" id="publishing_house_name" name="publishing_house_name" class="form-control"
                   value="{{ house.publishing_house_name }}" required>
        </div>

        <div class="form-group">
            <label for="contact_information">Контактная информация:</label>
            <input type="text" id="contact_information" name="contact_information" class="form-control"
                   value="{{ house.contact_information }}">
        </div>

        <button type="submit" class="btn btn-primary">Обновить</button>
    </form>
</div>
{% endblock %}
