<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1;
        }
        footer {
            background-color: #f8f9fa;
            text-align: center;
            padding: 10px 0;
        }




    </style>
</head>
<body>
<header class="bg-dark text-white p-3">
    <div class="container">
        <h1>Library System</h1>
        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link text-white" href="/">Главная</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('books.get_books') }}">Книги</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white"
                                        href="{{ url_for('clients.get_clients') }}">Клиенты</a></li>
                <li class="nav-item"><a class="nav-link text-white"
                                        href="{{ url_for('authors.get_authors') }}">Авторы</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('genre.get_genres') }}">Жанры</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('agreement.get_agreements') }}">Соглашения</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white"
                                        href="{{ url_for('reservation.get_reservations') }}">Резервирования</a></li>
                <li class="nav-item"><a class="nav-link text-white"
                                        href="{{ url_for('publishing_houses.get_publishing_houses') }}">Издательства</a>
                </li>
                {% if session.get('user') %}
                <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('auth.logout') }}">Выход</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('auth.login') }}">Вход</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<main class="container mt-4">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</main>
<footer>
    <p>&copy; 2024</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
