<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
</head>
<body>
<header>
    <h1>Hello</h1>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/publishing_houses">Издательства</a></li>
            <li><a href="/authors">Авторы</a></li>
            <li><a href="/clients">Клиенты</a></li>
            <li><a href="/genres">Жанры</a></li>
            <li><a href="/books">Книги</a></li>
            <li><a href="/agreements">Соглашения</a></li>
            <li><a href="/reservations">Резервирования</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2>...</h2>
</main>
<footer>
    <p>&copy; 2024</p>
</footer>
</body>
</html>
