{% extends 'base.html' %}

{% block content %}
<h2>Add New Publishing House</h2>
<form action="{{ url_for('publishing_houses.add_publishing_house') }}" method="POST">
    <label for="publishing_house_name">Publishing House Name:</label>
    <input type="text" id="publishing_house_name" name="publishing_house_name" required>

    <label for="contact_information">Contact Information:</label>
    <input type="text" id="contact_information" name="contact_information">

    <button type="submit">Add</button>
</form>
{% endblock %}
